<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nus</title>
</head>
<body>
    <!--<p style="text-align: center">
        <img src="../nus.png">
    </p>-->
    <p style="text-align: center">
        <embed width="940" height="660"
               allownetworking="all" allowscriptaccess="always"
               src="https://staticlive.douyucdn.cn/common/share/play.swf?room_id=988"
               quality="high" bgcolor="#000" wmode="window" allowfullscreen="true"
               allowFullScreenInteractive="true" type="application/x-shockwave-flash">
    </p>


</body>
</html>